<%- include('../partials/header') %> 

<link rel='stylesheet' href='/stylesheets/userShow.css' />
    <% if(user) { %> 
    <form action="/users/<%= user._id %>/dream " method="POST">
        <div><h1><%= user.name %></h1></div>
        <img src="<%= user.avatar %> " alt="avatar" referrerpolicy="no-referrer">
        <div><h1><%= user.cars %></h1> </div>
        <div class="new-container">
            <label class="input-box">
                <input type="text" name="name" required="required"> 
                <span>Name </span>
            </label>
            <label class="input-box">
                <input type="text" name="model" required="required">
                <span>Model </span>
            </label>
            <label class="input-box" id="year">
                <input type="number" name="year" required="required">
                <span>Year</span>
            </label>
            <label class="input-box">
                <input type="number" name="price" required="required">
                <span>Price</span>
            </label>
            <label>
                <input type="submit" value="add-a-dream-car" required="required" class="button">
            </label>
        </div>
    </form>
    <% } %> 

<%- include('../partials/footer') %> 