<%- include('../partials/header') %> 
<link rel='stylesheet' href='/stylesheets/edit.css' />

<span>
    <div class="main-conatiner">
        <h1>Edit Car</h1>
    </div>
    <div class="edit-conatiner">
        <form action="/cars/<%= car._id %>?_method=PUT" method="POST" autocomplete="off">
            <div class="input-box">
                <h4>Name</h4>
                <input type="text" name="name" value="<%=car.name%>">
            </div>
            <div class="input-box">
                <h4>Model</h4>
                <input type="text" name="model" value="<%= car.model %>">
            </div>
            <div class="input-box">
                <h4>Year</h4>
                <input type="number" name="year" value="<%= car.year %>">
            </div>
            <div class="input-box">
                <h4>Price</h4>
                <input type="number" name="price" value="<%= car.price %>">
            </div>
            <div class="input-box">
                <h4>Mileage</h4>
                <input type="number" name="mileage" value="<%= car.mileage %>">
            </div>
            <button type="submit">Save Changes</button>
        </form>
    </div>
</span>
<%- include('../partials/footer') %> 