<%- include('../partials/header') %> 
<link rel='stylesheet' href='/stylesheets/index.css' />

<h1>All cars</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Model</th>
            <th>Year</th>
            <th>Price</th>
            <th>Mileage</th>
            <th>Details</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>

        <% cars.forEach( function(c) { %> 
        <tr>
            <td><%= c.name %> </td>
            <td><%= c.model %> </td>
            <td><%= c.year//.toLocaleDateString() %></td> 
            <td><%= c.price %> </td>
            <td><%= c.mileage %> </td>
            <td><a href="/cars/<%= c._id %> ">car-details</a></td>
            <td> <form action="/cars/<%= c._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
            </form> </td>
        </tr>
        <% }) %> 
    </tbody>
</table>


<%- include('../partials/footer') %> 