<%- include('../partials/header') %> 
<link rel='stylesheet' href='/stylesheets/show.css' />
<section>
    <div>Name: </div>
    <div><%= car.name %> </div>
    <div>Model: </div>
    <div> <%= car.model %> </div>
    <div>Year: </div>
    <div> <%= car.year %> </div>
    <div> Price: </div>
    <div> <%= car.price %> </div>
    <div> Mileage: </div>
    <div> <%= car.mileage %> </div>
    <div><a href="/cars/<%= car._id %>/edit">Edit</a></div>
</section>

<h2>Reviews</h2>
<form action="/cars/<%= car._id %>/reviews " method="POST">
    <label>
        Review: 
        <textarea name="content"></textarea>
    </label>
    <label>
        Worth: 
        <input type="checkbox" name="worth" checked>
    </label>
    <input type="submit" value="Add Review">
</form>

<% if (car.reviews.length) { %> 
<table>
    <thead>
        <tr>
            <th>Review: </th>
            <th>Worth: </th>
        </tr>
    </thead>
    <tbody>
        <% car.reviews.forEach( function(r) { %> 
        <tr>
            <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
            <td><%= r.content %> </td>
            <td><%= r.worth ? 'worth it' : 'Not worth' %> </td>
            <td>
                <% if(user && user._id.equals(r.user)) { %> 
                    <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                        <button type="submit">X</button>
                    </form>
                <% } %> 
            </td>
        </tr>
        <% }) %> 
    </tbody>
</table>

<% } else { %> 
    <h5>No Reviews</h5>
<% } %> 

<%- include('../partials/footer') %> 